<!-- 


 <div class="contact-links">
  <a
    href="https://wa.me/6302366346?text=Hi%20Siva,%20I%20found%20your%20DevOps%20portfolio"
    target="_blank"
    rel="noopener noreferrer"
    class="whatsapp-btn"
  >
    💬 WhatsApp Me
  </a>


  <a
    href="https://www.linkedin.com/in/siva-phani-kumar/"
    target="_blank"
    rel="noopener noreferrer"
    class="linkedin-btn"
  >
    🔗 Connect on LinkedIn
  </a>

  
    <a
    href="https://github.com/phanis-git/"
    target="_blank"
    rel="noopener noreferrer"
    class="github-btn"
  >
    🐙 GitHub
  </a>


  <a
    href="https://www.instagram.com/phanii_.8/?hl=en"
    target="_blank"
    rel="noopener noreferrer"
    class="instagram-btn"
  >
    📸 Instagram
  </a>
</div> -->



<section class="contact-section">
  <div class="contact-card">
    <h2>Let’s Connect</h2>
    <p>
      <!-- I’m open to DevOps roles, freelance projects, and tech discussions. -->
      Feel free to reach out through any platform below.
    </p>

    <div class="contact-links">
      <!-- WhatsApp -->
      <a
        href="https://wa.me/1234567890?text=Hi%20Siva,%20I%20found%20your%20DevOps%20portfolio"
        target="_blank"
        class="contact-btn whatsapp-btn"
      >
        💬 WhatsApp
      </a>

      <!-- LinkedIn -->
      <a
        href="https://www.linkedin.com/in/siva-phani-kumar/"
        target="_blank"
        class="contact-btn linkedin-btn"
      >
        🔗 LinkedIn
      </a>

      <!-- GitHub -->
      <a
        href="https://github.com/phangit/"
        target="_blank"
        class="contact-btn github-btn"
      >
        🐙 GitHub
      </a>

      <!-- Instagram -->
      <a
        href="https://www.instagram.com/pha8/?hl=en"
        target="_blank"
        class="contact-btn instagram-btn"
      >
        📸 Instagram
      </a>

      
    </div>
  </div>
</section>
