<header class="main-header">
  <nav class="navbar">
    <div class="logo">
      <!-- <img src="assets/images/icons/portfolio.png" alt="Portfolio Icon" class="portfolio-icon"> -->
       <img src="assets/images/icons/cropped_circle_image.png" height="34px" width="34px" alt="">
    </div>
    
    <!-- Mobile menu toggle button -->
    <button class="mobile-menu-toggle" (click)="toggleMobileMenu()">
      <i class="bi bi-list"></i>
    </button>
    
    <div class="nav-links" [class.active]="isMobileMenuOpen">
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
      <!-- <a routerLink="/contact" routerLinkActive="active">Contact</a> -->
      <!-- <button class="theme-toggle" (click)="toggleTheme()">
        <i class="material-icons" [attr.title]="isDarkMode ? 'Light Mode' : 'Dark Mode'">
          {{ isDarkMode ? 'light_mode' : 'dark_mode' }}
        </i>
      </button> -->
    </div>
  </nav>
</header>
